connexion==2.7.0
Flask==1.1.2
Flask-AuditLog==1.0
Flask-Cors==3.0.10
Flask-No-Cache==1.0
Flask-SSLify==0.1.5
google-cloud-datastore==2.1.0
google-cloud-kms==2.2.0
google-cloud-secret-manager==2.2.0
gunicorn==20.0.4
swagger-ui-bundle==0.0.8
Werkzeug==0.16.1
